### Compilati da Maven o Gradle ###
target/
build/

### Escludi Maven Wrapper non necessario ###
!.mvn/wrapper/maven-wrapper.jar

### Escludi IDE non Eclipse ###
.idea
*.iws
*.iml
*.ipr

.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Spring Tool Suite cache ###
.sts4-cache
