@use "sass:color";

@use "bulma/sass";
@import url("https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css");
  @import "bulma/css/bulma.css"; 
// // Import Normalize.css
// @import 'normalize.css/normalize.css';

// Import Montserrat Google Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Set brand colors
$fuchsia: #e1117e;
$orange: #f49526;
$yellow: #f0df1c;
$black: #1a1a1a;
$greyed-out: #363636;
$white: #DDD;

// Additional styles
* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  background: #DDD;

}
// Navbar styles
.navbar {
   
  height: 64px;
  background: rgb(50,50,50);
  background:linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0.510329131652661) 100%);
  background-image: url('../images/glass.png');
  background-size: cover;
  background-blend-mode:difference;
  // overflow: visible;
  overflow-y: visible;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;

}
// @media screen and (min-width: 1080px){
//     .is-active,#navbarMenu{
//         margin-top: 0!important;
//         padding: 0;
//         // display: none;
//     }
    
// }
// .navbar-burger, .is-active{
//     background: #000;
//     // width: fit-content;
//     // height: fit-content;
//     color: #fff;
//     margin: 0;
//     z-index: 100;
// }
.navbar-burger {
  display: none;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
}

@media (max-width: 1024px) {
  .navbar-burger {
    display: block;
  }

  .navbar-start{
    
        display: flex;
        flex-direction: column;
        // justify-content: space-evenly;
        align-items: center;
        width: auto;
        // background-color: #ddd;
    
}

    .navbar-menu {
      display: none;
    }

  .navbar-menu.is-active {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 50%;
    width: auto;
    background-color: #ddd;
  }
}
@media (min-width: 1025px) {

  .navbar-menu.is-active {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50%;
    width: 100%;
    background-color: transparent;
  }
}

#navbarMenu{
    padding: 0;
    &.is-active {
      box-shadow: 0px -4px 8px 3px rgb(207, 207, 207);
            margin-top: 100%;
            font-size: 16px;
            width: auto;
            height: auto; 
            display: block;
            flex-direction: column;
            justify-content: center;
            // border:1px solid $greyed-out;
            border-radius:1.618em;
            // color: antiquewhite;
            background-color: #ddd;
        }
      }
//   // background-color: $orange;
//   align-items: center;
// }
// #navbarMenu .navbar-start{
  
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   // overflow: scroll;
// }

// .navbar-start .navbar-item{
//   background-color: #f49526;
// }
// @media screen and (min-width: 1080px){
// #navbarMenu{
//     &.navbar-item{
//     background: transparent;
//     }
// }
// }
.navbar-item{
  display: flex;
  flex-direction: column;    
  justify-content: space-evenly;
    align-items: center;
   &:hover{ 
    border-left: 2px solid $orange;
   }
   box-sizing: content-box;
   height: auto;
   width: fit-content;
  //  gap: 30px;
  text-align: center;
  
  // overflow: scroll;
height: 5vh
}
.logo {
  max-height: 64px; // Maintain the navbar's height
  object-fit: contain; 
  overflow: hidden;// Preserve the logo's aspect ratio
}

.navbar-burger span {
    background-color: $greyed-out;
  
}
.navbar-brand{
    padding-bottom:.5rem ;
}
.card, .input {
  background: $white;
  box-shadow: 4px 4px 10px $black;
}

form .label {
  color: $black
}
.navbar-item {
    
color: $fuchsia;
font-weight: bold;
background-color: #DDD;
&:hover{
    background-color: #f5cfa5;
}
}

form button {
  background: $fuchsia;
  color: $white;
}

