// Import component
// @use "bulma-carousel";
// Use node_modules path
@use "bulma/sass/utilities";

@import "main.scss";

//Stili per la home

.container-home:nth-child(1) {
  margin-top: 5em;
}
.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-home img {
  margin-top: 3rem;
  width: 130vh;
  height: 65vh;
}

#carousel-demo {
  overflow: hidden;
}

.hero .container-home:nth-child(3) {
  margin-top: 10rem;
}
