// Set brand colors
$fuchsia: #e1117e;
$grey: #cecccc;
$orange: #f49526;
$yellow: #f0df1c;
$black: #1a1a1a;
$greyed-out: #363636;
$white: #ddd;

// Additional styles
* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  background: #ddd;
}

//Aggiunte Fra
h1,
h2 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: $greyed-out;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  color: $orange;
  font-weight: bold;
  font-size: 25px;
}
//Francesco Add new class "is-fuchsia"
.is-fuchsia {
  background-color: $fuchsia;
}

.footer {
  margin-top: 1em;
  background-color: $grey;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul li {
  color: $black;
}
