@use "sass:color";

@use "bulma/sass";


// // Import Normalize.css
// @import 'normalize.css/normalize.css';

// Import Montserrat Google Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Set brand colors
$fuchsia: #e1117e;
$orange: #f49526;
$yellow: #f0df1c;
$black: #1a1a1a;
$greyed-out: #363636;
$white: #DDD;

// Additional styles
* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  background: #DDD;
}

// Navbar styles
.navbar {
  height: 64px;
  background: rgb(50,50,50);
  
  background:linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0.510329131652661) 100%);
  background-image: url('../images/glass.png');
  background-blend-mode:difference;
  // overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;

}
#navbarMenu{
  & .is-active{
    background-color: #f49526!important;
    padding: 0;
  }
  // background-color: $orange;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// #navbarMenu .navbar-start{
  
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   // overflow: scroll;
// }

// .navbar-start .navbar-item{
//   background-color: #f49526;
// }
.navbar-item{
  display: flex;
  padding: 0 10px;
  text-align: center;
  // overflow: scroll;
height: 5vh;
}
.logo {
  max-height: 64px; // Maintain the navbar's height
  object-fit: contain; // Preserve the logo's aspect ratio
}

.navbar-burger span {
  background: $greyed-out;
  // overflow: visible;
  
}

.card, .input {
  background: $white;
  box-shadow: 4px 4px 10px $black;
}

form .label {
  color: $black
}
.navbar-item {
  color: antiquewhite;

}

form button {
  background: $fuchsia;
  color: $white;
}